html {
    scroll-behavior: smooth;
    background-color: #181f39;
    background-image: url(./assets/meme-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Chewy', cursive;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 90vw;
}

    header p {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
        color: #a6bad7;
        font-size: 36px;
    }

main {
    height: 70vh;
    width: 90vw;
}

.slider-container {
    height: 65vh;
    width: 50vw;
    margin: auto;
    position: relative;
    background-color: #0e1827;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 0.1em 0.1em 2em 0.1em #181f39;
}

.slider-container > input {
    display: none;
}

.mem-container {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: auto;
    overflow: hidden;
    position: relative;
}

    .mem-container .slide {
        height: inherit;
        width: inherit;
        margin: auto;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0;
        z-index: 0;
        transform: scale(1.5);
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    }
    
.slide0 {
    background-image: url("./assets/mems/mem0.jpg");
}
.slide1 {
    background-image: url("./assets/mems/mem1.jpg");
}
.slide2 {
    background-image: url("./assets/mems/mem2.jpg");
}
.slide3 {
    background-image: url("./assets/mems/mem3.jpg");
}

#mem0:checked ~ .mem-container > .slide0,
#mem1:checked ~ .mem-container > .slide1,
#mem2:checked ~ .mem-container > .slide2,
#mem3:checked ~ .mem-container > .slide3 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.controls-container {
    position: absolute;
    margin-left: 60%;
    column-gap: 5px;
}

    .controls-container label {
        cursor: pointer;
        display: inline-block;
        height: 8px;
        margin: 0 12px;
        position: relative;
        width: 8px;
        border-radius: 50%;
        transition: background ease-in-out .5s;
    }

        .controls-container label:after {
            border: 2px solid #ddd;
            content: " ";
            display: block;
            height: 12px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 12px;
            border-radius: 50%;
        }

        .controls-container label:hover,
        #mem0:checked ~ .controls-container label:nth-of-type(1),
        #mem1:checked ~ .controls-container label:nth-of-type(2),
        #mem2:checked ~ .controls-container label:nth-of-type(3),
        #mem3:checked ~ .controls-container label:nth-of-type(4){
            background: #ddd;
        }


footer {
    height: 10vh;
    width: 90vw;
}

.links-container {
    display: flex;
    column-gap: 20px;
    height: 5vh;
    width: fit-content;
    margin: auto;
}

    .links-container p {
        color: #a6bad7;
    }

.gh-link img {
    width: 5vh;
    height: 5vh;
    filter: brightness(200%) contrast(0%) hue-rotate(48deg) saturate(90%) grayscale(100%) sepia(100%) invert(57%);
}